/* initial font, body and all (*) style */
/* @import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
} */

/* body {
  background: #f6f3fa;
  color: #17112b;
} */

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.4s ease;
}

#app {
  width: 100%;
  height: 100vh;
  /* background: #f6f3fa; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  /* height: 70%; */
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
  /* border-radius: 5px;
  box-shadow: 0 1px 10px #beb9d9; */
  /* margin-top: 3rem; */
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  height:100%;
  padding: 15px;
  box-shadow: 0 1px 10px #beb9d9;
  border-radius: 5px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .ai .profile {
  background: #10a37f;
} */

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #17112b;
  /* font-size: 15px; */

  width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

body #gpt {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #ece9f2;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-shadow: 0 1px 10px #beb9d9 !important;
}

select {
  width: 100%;

  color: #17112b;
  font-size: 18px;

  padding: 5px;
  background: transparent;
  /* border-radius: 5px; */
  border: none;
  outline: none;
  cursor: pointer;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

#gpt img {
  width: 30px;
  height: 30px;
}

/* custom  */

/* .nav-bar {
  background-color: #8870af;
  display: flex;
  align-items: center;
  width: 100%;
} */

/* .nav-bar h1 {
  margin: 0;
  padding: 10px;
  color: #f6f3fa;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
} */

/* .nav-bar li {
  margin: 0 10px;
}

.nav-bar a {
  color: #f6f3fa;
  text-decoration: none;
} */

#screen {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
}

#borough-img {
  width: 15rem;
  height: 15rem;
  /* border: thin solid black; */
  margin: 1rem;
  background-color: white;
  box-shadow: 0 1px 10px #beb9d9;
  border-radius: 5px;
}

button:hover {
    box-shadow: 0 1px 10px #beb9d9;
    border-radius: 5px;
}

a {
  color: #574497;
}

svg {
  height: 40vw;
}

path {
  transition: 3s fill;
}

.borough:hover {
  opacity: 0.8 !important;
}

/* navbar  and dark/light mode css */

:root {
  --body-color: #E4E9F7;
  --nav-color: #FFFFFF;
  --side-nav: #FFFFFF;
  --text-color: #343F4B;
  --search-bar: #FFFFFF;
  --search-text: #010718;
}

body {
  background-color: var(--body-color);
}

body.dark {
  --body-color: #18191A;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #CCC;
  --search-bar: #242526;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

body.dark nav {
  border: 1px solid #393838;

}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  /* padding: 0 30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.dropdown-menu li a::before {
  position: relative;
  font-size: 0px;
  font-weight: 0;
  color: var(--text-color);
  text-decoration: none;
  padding: 0px;
}

.nav-links li:hover a::before {
  opacity: 1;
}


.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active~.search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}

body.dark .search-field input {
  color: var(--text-color);
}

.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i {
  color: var(--text-color);
}

body.dark ul {
  color: var(--text-color);
}

body.dark .dropdown-menu {
  background-color: var(--nav-color);
}

body.dark select {
  color: var(--text-color);
}

body.dark select option {
  color: var(--text-color);
  background-color: var(--nav-color);
}

body.dark #gpt {
  background-color: var(--nav-color);
}

body.dark .dropdown-menu:hover {
  background-color: var(--nav-color);
}

body.dark h3 {
  color: var(--text-color);
}

body.dark .message {
  color: var(--text-color);
}

body.dark .message a {
  color: plum;
}

body.dark #borough-img {
  background-color: var(--nav-color);
}

.nav-links {
  margin-top: 1rem !important;
}

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }

  nav.active .menu {
    left: -0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 20px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }

  .navLogo {
    margin-left: 1rem;
  }
}

/****** About, Contact Page ***************/

.about, .contact {
  margin-top: 5rem;
  background-color: white;
  box-shadow: 0 1px 10px #beb9d9;
  border-radius: 5px;
  box-sizing: border-box;
}

body.dark .about, body.dark .contact {
  color: var(--text-color);
  background-color: var(--nav-color);
}

body.dark #contact-form input, body.dark #contact-form textarea {
  color: var(--text-color);
  background-color: var(--nav-color);
}

/*********** Footer ********************/
footer {
  /* position: fixed; */
  background: #FFFFFF;
  width: 100%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  margin-top: 1rem !important;
}


footer .content {
  max-width: 800px;
  margin: auto;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.content .top .logo-details {
  /* color: #343F4B; */
  font-size: 30px;
}

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267B2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
  color: #1DA1F2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
  color: #E1306C;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
  color: #0077B5;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
  color: #FF0000;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content .link-boxes .box .link_name {
  /* color: #343F4B; */
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #343F4B;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.content .link-boxes .input-box {
  margin-right: 55px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #343F4B;
  background: #fff;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #343F4B;
  margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
  color: #AFAFB6;
  font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #343F4B;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
  opacity: 1;
}

footer .bottom-details {
  width: 100%;
  background: #E4E9F7;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #343F4B;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  footer {
    position: relative;
  }

  .content .top .logo-details {
    font-size: 26px;
  }

  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 60%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }

  footer .content .top {
    flex-direction: column;
  }

  .content .top .media-icons {
    margin-top: 16px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }
}

body.dark footer, body.dark footer > .content > .top {
    color: var(--text-color);
    background-color: var(--nav-color);
}

body.dark .content .link-boxes .box li a, body.dark footer .input-box input {
    color: var(--text-color);
    background-color: var(--nav-color);
}

body.dark .bottom-details {
  background-color: black;
  color: white;
}

body.dark .bottom-details .bottom_text span,
body.dark .bottom-details .bottom_text a {
  color: white;
}